<section id="details" class="details">
  <div class="container">
    <div class="l-2up--1">
      <div class="info-block__icon info-block__icon--rings">
        {% include svg/rings.svg %}
        <span class="info-diamond">
        </span>
      </div>
    </div>
    <div class="l-2up--2">
      <div class="info-block">
        <h3 class="info-block__title">
          The Details
        </h3>
        <p class="info-block__body">
          The ceremony will begin at 5:00PM sharp, and will be immediately
          followed by the reception.
        </p>
        <p class="info-block__body">
          Dinner will be provided by the local resturaunt <a class="link" href="http://bigstarchicago.com/">Big Star</a>, and
          we will be servig Chicken, Pork Belly, and Potato tacos.
        </p>
      </div>
    </div>
  </div>
</section>
