<footer class="site-footer">
  <div class="container--full">
    <span class="attribution">
      See you all on October 10th and 11th. Site Design by: 
      <a href="http://danielrd.com">The Groom</a>
    </span>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
$('#rsvp__form').submit(function(){
  $.ajax({
    dataType: 'jsonp',
    url: "http://getsimpleform.com/messages/ajax?form_api_token=a1846af5b6d1a65e4c62f5dfc951f4a9",
    data: $('#rsvp__form').serialize() 
  }).done(function() {
    $('.form-submission-message').addClass('is-active');
    console.log('success');
  });
});
</script>
