<section id="party" class="wedding-party">
  <div class="container">
    <div class="l-1up">
      <h2 class="party__title">
        The Wedding Party
      </h2>
      <ul class="party__list">
        <li class="party__list-item party__list-item--first">
          Daniel Destefanis
          <span class="party__list-item-title">The Groom</span>          
        </li>
        <li class="party__list-item party__list-item--second">
          Miranda Hartman
          <span class="party__list-item-title">The Bride</span>          
        </li>
        <li class="party__list-item">
          Mitch Avey         
        </li>
        <li class="party__list-item">
          Lauren Avey        
        </li>
        <li class="party__list-item">
          Peter LaRue        
        </li>
        <li class="party__list-item">
          Heidi Sroga        
        </li>
        <li class="party__list-item">
          Shawn Fossum        
        </li>
        <li class="party__list-item">
          Nikki Brewer         
        </li>
      </ul>
    </div>
  </div>
</section>
