<section id="registry" class="regsitry">
  <div class="container--full">
    <div class="callout">
      <div class="callout__row">
        <span class="callout__icon">
          <a href="http://www.honeyfund.com/wedding/danielandmiranda">
            {% include svg/gift.svg %}
          </a>
        </span>
        <h3 class="callout__header">
          Registry
        </h3>
        <p class="callout__body">
          The best present you could possibly give us is the celebration of
          our marriage. However, if you'd like to spoil us, we created a
          registry at <a href="https://www-secure.target.com/gift-registry/giftgiver?registryId=1BJSDp93shcvVEBuRIbJmw&lnk=copiedLink">Target</a> and also <a href="http://www.honeyfund.com/wedding/danielandmiranda">Honeyfund</a> (which contributes to our
          honeymoon to New York City).
        </p>
      </div>
      <div id="brunch" class="callout__row callout__row--brunch">
        <span class="callout__icon icon--coffee">
          {% include svg/coffee-cup.svg %}
        </span>
        <h3 class="callout__header">
          Post Wedding Brunch
        </h3>
        <p class="callout__body">
          The Hartman family invite all the guests to a post-wedding brunch
          the following day at <a href="https://www.google.com/maps/place/108+E+Railroad+St,+Sandwich,+IL+60548/@41.6452251,-88.6202277,17z/data=!3m1!4b1!4m2!3m1!1s0x880ec63a32a085b1:0x15a99bbdd2f03f9d">108 E. Railroad St, Sandwich IL 60548.</a> The
          bruch will be from 11:00am to 2:00pm. 
        </p>
      </div>
      <span class="callout__flowers flowers--left">
        {% include svg/flowers.svg %}
      </span>
      <span class="callout__flowers flowers--right">
        {% include svg/flowers.svg %}
      </span>
    </div>
  </div>
</section>
