<section id="venue" class="venue">
  <div class="container">
    <div class="l-2up--1">
      <div class="info-block">
        <h3 class="info-block__title">
          The Venue
        </h3>
        <p class="info-block__body">
          The ceremony and reception will be held in 
          <a class="link" href="http://www.space1858.com/">"Space 1858"</a>.
          The venue is located at 
          <a class="link" href="https://www.google.com/maps/place/1858+W+Grand+Ave,+Chicago,+IL+60622/@41.891093,-87.674303,17z/data=!4m7!1m4!3m3!1s0x880e2d369e52f705:0xf8d02d3fbcf5dcad!2s1858+W+Grand+Ave,+Chicago,+IL+60622!3b1!3m1!1s0x880e2d369e52f705:0xf8d02d3fbcf5dcad">
          1858 W. Grand Ave, Chicago Illinois</a>.
        </p>
        <p class="info-block__body">
          There is free public parking on the street in front of the building.
        </p>
      </div>
    </div>
    <div class="l-2up--2">
      <div class="info-block__icon info-block__icon--building">
        {% include svg/building.svg %}
        <span class="info-diamond">
        </span>
      </div>
    </div>
  </div>
</section>
